@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    color: white;
}
html{
	background-color: #00316b;
	background-size: cover;
}

body{
	overflow-x: hidden;
	font-family: 'Roboto Condensed',sans-serif;
	background-image: url('../images/homeimg.PNG');
	background-size: cover;
}

h1,h2,h3,h4,h5,h6{
	font-weight: bold;
}

hr{
	border-top: 5px solid #fff;
}

a:hover{
	cursor: pointer;
}

img{
	max-height: 350px;
}

.homepage{
	width: 100%;
	height: 100%;
	text-align: center;
	user-select: none;
}

.homepage h1{
	font-size: 48px;
}

.homepage h2{
	font-size: 36px;
	padding-top: 150px;
}

.nav-link{
	font-weight: bold;
}

.sidebar{
	background-color: #ccc;
}

.sidebar ul{
	display: none;
	list-style-type: none;
}

.sidebar ul li{
	text-align: center;
}

.sidebar ul li a{
	text-decoration: none;
	color: rgba(0,0,0,.9);
	font-size: 20px;
	font-weight: bold;
}

.use-content{
	height: 100%;
	color: white;
	margin-top: -10px;
}

.use-content .contain{
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
}

.services{
	text-align: center;
	user-select: none;
}

.use-content h1{
	font-weight: bold;
}

.use-content li{
	text-align: left;
	font-weight: bold;
	margin: 5px;
}

.footer{
	position: fixed;
	padding: 10px;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #00316b;
	color: white;
	text-align: center;
	user-select: none;
}

.footer table{
	table-layout: fixed;
	width: 100%;
}

.footer td{
	width: 33%;
}

.footer td:nth-child(3){
	padding-right: 25px;
	text-align: right;
}

.footer a img{
	text-align: center;
	transition: transform .2s;
}

.footer a img:hover{
	transform: scale(1.3);
}

.box{
	margin: 20px;
}

.login-form a{
	text-decoration: none;
}

.sign_up_choose a{
	text-align: center;
	font-size: 24px;
	border: 4px red;
}

.text_input{
	width: 100%;
	border-radius: 10px;
}

.answer{
	width: 80%;
	border-radius: 30px;
	padding: 5px;
	transition: width .5s;
}

.answer:focus{
	border-radius: 0;
	padding: 5px;
	box-shadow: 0 0 10px 5px gray;
	width: 100%;
}

.change_pwd{
	user-select: none;
	width: 100%;
	height: 100%;
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 50px;
}

.change_pwd hr{
	border-top: 3px solid #fff;
}

.change_pwd textarea{
	opacity: .9;
	border-radius: 15px;
}

.profile{
	user-select: none;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 15px;
}

.profile-details p{
	font-weight: bold;
}

.assignment_list th, .assignment_list td{
	text-align: center;
}

.assignment_list img{
	width: 100px;
}

input[type=file]{
	text-align: right;
	border: 5px;
	font-weight: bold;
	font-size: 20px;
	opacity: .9;
}