
@font-face {
	font-family: custom_font;
	src: url('Roboto_Condensed/RobotoCondensed-Regular.ttf');
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    color: white;
}
html{
	background-color: #00316b;
	background-size: cover;
}

body{
	font-family: custom_font !important;
	overflow: hidden;
	background: linear-gradient(90deg, rgba(131,58,180,.6) 0%, rgba(253,29,29,.6) 50%, rgba(252,176,69,.6) 100%), url('../images/homeimg.PNG') !important;
	background-size: cover !important;
}

h1,h2,h3,h4,h5,h6{
	font-weight: bold;
}

hr{
	border-top: 5px solid #fff;
}

a:hover{
	cursor: pointer;
}

img{
	max-height: 350px;
}

i:hover{
	cursor: pointer;
	animation: shake .3s;
	animation-iteration-count: infinite;
}

/*scrollbar*/
::-webkit-scrollbar {
  	width: 1px;
}

.navbar{
	/*background: radial-gradient(circle, #2078b3, #a2d5f2);*/
	background-color: #a2d5f2;
	z-index: 40;
}

.homepage{
	width: 100%;
	height: 100%;
	text-align: center;
	user-select: none;
}

.homepage h2{
	font-size: 36px;
	padding-top: 150px;
	text-shadow: 2px 2px 10px #000;
}

.prod_name{
	font-size: 48px;
	letter-spacing: 1px;
	text-shadow: 2px 2px 5px #111;
	display: none;
	color: #ffcb8b;
	/*background: -webkit-linear-gradient(45deg, #fff, #000);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;*/
}

.nav-link{
	font-weight: bold;
}

.sidebar{
	position: fixed;
	margin-left: 85%;
	width: 15%;
	background-color: rgba(195, 196, 255, .9);
	border-bottom-left-radius: 20%;
	box-shadow: -5px 0px 5px 0 rgba(162, 213, 242, .7);
	z-index: 1;
}

.sidebar ul{
	display: none;
	list-style-type: none;
	padding-left: 0;
}

.sidebar ul li{
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
}

.sidebar ul li a{
	text-decoration: none;
	color: #222;
	font-size: 16px;
	font-weight: bold;
	opacity: .8;
	transition: letter-spacing 1s;
}

.sidebar ul li a:hover{
	letter-spacing: 3px;
}

.use-content{
	height: 100%;
	color: white;
	margin-top: -10px;
}

.use-content .contain{
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
}

.user_guide{
	text-align: center;
	user-select: none;
}

.user_guide .row{
	margin: 10px;
}

.box_card{
	background-color: #333;
	opacity: .8;
	border: 5px solid white;
	border-radius: 15%;
	box-shadow: 0 0 10px white;
	height: 100%;
}

.box{
	margin: 10px;
	padding: 10px;
	font-size: 18px;
}

.use-content h1{
	font-weight: bold;
}

.use-content li{
	text-align: left;
	font-weight: bold;
	margin: 5px;
}

.footer{
	position: fixed;
	padding: 10px;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(0, 49, 107, .65);
	color: white;
	text-align: center;
	user-select: none;
}

.footer table{
	table-layout: fixed;
	width: 100%;
}

.footer td{
	width: 33%;
}

.footer td:nth-child(3){
	padding-right: 25px;
	text-align: right;
}

.footer a img{
	text-align: center;
	transition: transform .2s;
}

.footer a img:hover{
	transform: scale(1.4);
}

.gitlogo{
	display: none;
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.login-form a{
	text-decoration: none;
}

.sign_up_choose a{
	text-align: center;
	font-size: 24px;
	border: 4px red;
}

.text_input{
	width: 100%;
	border-radius: 10px;
}

.answer{
	width: 80%;
	border-radius: 30px;
	padding: 5px;
	transition: width .5s;
}

.answer:focus{
	border-radius: 0;
	padding: 5px;
	box-shadow: 0 0 10px 5px gray;
	width: 100%;
}

.change_pwd{
	user-select: none;
	width: 100%;
	height: 100%;
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 50px;
}

.change_pwd hr{
	border-top: 3px solid #fff;
}

.write_notice textarea{
	background-color: transparent;
	border-radius: 15px;
	border: 2px solid #ccc;
}

.write_notice textarea:focus{
	background-color: rgba(34, 34, 34, .5);
	color: white;
}

.profile{
	user-select: none;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 15px;
	margin-top: 10px;
}

.profile-details p{
	font-weight: bold;
}

.assignment_list table{
	box-shadow: 0 0 10px #a2d5f2;
}

.assignment_list th, .assignment_list td{
	text-align: center;
}

.assignment_list img{
	width: 100px;
}

.chat_list table{
	box-shadow: 0 0 10px #a2d5f2;
}

.chat_list img{
	width: 100px;
}

input[type=file]{
	text-align: right;
	border: 5px;
	font-weight: bold;
	font-size: 20px;
	opacity: .9;
}

.sk-pulse{
	--sk-size: 20px;
}

.chat_box{
	margin-top: 10px;
	background-color: rgba(0,0,0,.4);
	padding: 5px;
	height: 60%;
	overflow: auto;
	border-radius: 10px;
	border: 1px solid rgba(200,200,200,.5);
}

.message_box{
	width: 100%;
	overflow: auto;
	margin: 0;
	margin-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

.message_tag{
	border-radius: 20px;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	padding-left: 10px;
	padding-right: 6px;
}

.sent_message{
	background-color: rgba(57, 255, 20, .8);
	border: 2px solid rgba(255,255,255,.5);
	float: right;
	text-align: left;
	max-width: 60%;
	color: black;
}

.received_message{
	color: black;
	background-color: #a2d5f2;
	border: 2px solid rgba(255,255,255,.5);
	float: left;
	text-align: left;
	max-width: 60%;
}

.message_text{
	font-size: 15px;
	overflow-wrap: break-word;
}

.message_time{
	font-size: 11px;
	float: right;
	margin: 0;
	padding-left: 10px;
}

.message_time{
	color: rgba(0,0,0,.6);
}

.date_box{
	width: 100%;
	text-align: center;
}

.date_tag{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	margin: 0 auto;
	width: auto;
	font-size: 14px;
	font-weight: bold;
	color: rgba(255,255,255,.8);
	background-color: rgba(255,255,255,.3);
}

.chat_window textarea{
	display: inline-block;
	width: 89%;
	resize: all;
}

.chat_window input[type=submit]{
	display: inline-block;
	width: 10%;
	margin-top: -28px;
	border-radius: 10px;
	background-color: rgba(255,0,0,.2);
}

.chat_window input[type=submit]:hover{
	background-color: rgba(0,255,0,.2);
	font-weight: bold;
	border-color: green;
}