{% extends "classroom/base.html" %}
{% load bootstrap4 %}
{% block content %}

	{% if messages %}
		<div class="alert alert-primary alert-dismissible fade show" role="alert">
			{% for message in messages %}
				<div class="alert">{{ message|safe }}</div>
			{% endfor %}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% endif %}

	<div class="use-content">
		<div class="contain">
		    <div class="change_pwd">
		        <h1 class="scramble_text">Change Password</h1>
		        <form enctype="multipart/form-data" method="POST">
		          {% csrf_token %}
		          {% bootstrap_form form %}
		        <input class="btn btn-primary" type="submit" name="" value="Change Password">
		        </form>
		    </div>
		</div>
	</div>

{% endblock %}
