{% extends "classroom/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
	
	<div class="use-content">
		<div class="contain">
		    <div class="change_pwd assignment_list">
  				<h3>Notice Board</h3>
		    	<br>
  				<table class="table table-light table-striped table-hover">
					<thead class="thead-dark">
				  		<tr>
						    <th scope="col">Sent By</th>
						    <th scope="col">Name</th>
						    <th scope="col">Subject</th>
						    <th scope="col">Notice Message</th>
						    <th scope="col">Published At</th>
				  		</tr>
					</thead>
					<tbody>
							{% if student.class_notice.count == 0 %}
								<tr>
									<td colspan="5" style="text-align: center;font-style: italic;">There are no notice to show</td>
					    		</tr>
							{% else %}
								{% for notice in student.class_notice.all %}
						    		<tr>
										<td class="align-middle">
											<a href="{% url 'classroom:teacher_detail' pk=notice.teacher.user.pk %}" target="_blank" style="text-decoration: none;">
												{% if notice.teacher.teacher_profile_pic %}
											        <img src="{{ notice.teacher.teacher_profile_pic.url }}">
											    {% else %}
											        <img src="{% static 'images/login-avatar.PNG' %}">
											    {% endif %}
											</a>
										</td>
										<td class="align-middle"><a href="{% url 'classroom:teacher_detail' pk=notice.teacher.user.pk %}" target="_blank" style="text-decoration: none;">{{ notice.teacher.name }}</a></td>
										<td class="align-middle">{{ notice.teacher.subject_name }}</td>
										<td class="align-middle">{{ notice.message_html|safe }}</td>
										<td class="align-middle">{{ notice.created_at }}</td>
						    		</tr>
						  		{% endfor %}
							{% endif %}				
					</tbody>
				</table>
		    </div>
		</div>
	</div>
	
{% endblock %}

