{% extends "classroom/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load common %}
{% block content %}
	
	<div class="use-content">
		<div class="contain">
		    <div class="change_pwd chat_window">
		    	<h3>CHAT WINDOW</h3>
		    	<h4>
		    		{% if request.user.is_student %}
			    		<a href="{% url 'classroom:teacher_detail' pk=receiver.user.pk %}" target="_blank" style="text-decoration: none;">{{ receiver.name }}</a>
			    	{% else %}
			    		<a href="{% url 'classroom:student_detail' pk=receiver.user.pk %}" target="_blank" style="text-decoration: none;">{{ receiver.name }}</a>
			    		<span style="float: right;">Roll No. {{ receiver.roll_no }}</span>
			    	{% endif %}
		    	</h4>
				<div class="chat_box">
					<div class="chats">
						{% if receiver.messages.count == 0 %}
							<div style="width: 100%;">
								<p style="text-align: center;font-style: italic;">No Messages Yet</p>
				    		</div>
						{% else %}
							{% with prev_date="" %}
								{% for mssg in receiver.messages.all %}
									{% ifnotequal prev_date mssg.created_at.date %}
										<div class="date_box">
											<div class="date_tag">{{ mssg.created_at.date }}</div>
										</div>
										{% set prev_date = mssg.created_at.date %}
									{% endifnotequal %}
									
						    		<div class="message_box">
						    			{% if mssg.sent_by_teacher %}
											{% if request.user.is_student %}
												{% set message_class = 'message_tag received_message' %}
											{% else %}
												{% set message_class = 'message_tag sent_message' %}
											{% endif %}
										{% else %}
											{% if request.user.is_student %}
												{% set message_class = 'message_tag sent_message' %}
											{% else %}
												{% set message_class = 'message_tag received_message' %}
											{% endif %}
										{% endif %}
										<div class="{{ message_class }}" style="display: inline;">
											<div class="message_text">{{ mssg.message }}
												<div class="message_time">{{ mssg.created_at.time }}</div>
											</div>
							    		</div>
						    		</div>
						  		{% endfor %}
						  	{% endwith %}
						{% endif %}
					</div>
				</div>
				<form method="post">
		    		{% csrf_token %}
					    <textarea name="message" rows="1" placeholder="Write your message here... " class="form-control" title="" required id="id_message"></textarea>
					    <input type="submit" class="btn btn-danger" value=">>>">
		  		</form>
		    </div>
		</div>
	</div>
{% endblock %}
