{% extends "classroom/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
	
	<div class="use-content">
		<div class="contain">
		    <div class="change_pwd assignment_list">
		    	<h3>CHAT WINDOW</h3>
		    	<br>
		    	<h4>
		    		{% if request.user.is_student %}
			    		Teacher Name : {{ receiver.name }}
			    	{% else %}
			    		Student Name : {{ receiver.name }}
			    	{% endif %}
		    	</h4>
  				<table class="table table-light table-striped table-hover">
					<tbody>
							{% if receiver.messages.count == 0 %}
								<tr>
									<td style="text-align: center;font-style: italic;">No Messages Yet</td>
					    		</tr>
							{% else %}
								{% for mssg in receiver.messages.all %}
						    		<tr>
										{% if mssg.sent_by_teacher %}
											{% if request.user.is_student %}
												<td style="text-align: left;">{{ mssg.message_html|safe }}<span style="font-size: 10px;">{{ mssg.created_at }}</span></td>
											{% else %}
												<td style="text-align: right;">{{ mssg.message_html|safe }}<span style="font-size: 10px;">{{ mssg.created_at }}</span></td>
											{% endif %}
										{% else %}
											{% if request.user.is_student %}
												<td style="text-align: right;">{{ mssg.message_html|safe }}<span style="font-size: 10px;">{{ mssg.created_at }}</span></td>
											{% else %}
												<td style="text-align: left;">{{ mssg.message_html|safe }}<span style="font-size: 10px;">{{ mssg.created_at }}</span></td>
											{% endif %}
										{% endif %}
						    		</tr>
						  		{% endfor %}
							{% endif %}
							<tr>
								<form method="post">
						    		{% csrf_token %}
						    		<td>
									    <div class="form-group">
									    	<textarea name="message" cols="20" rows="4" class="form-control" placeholder="Write your message here... " title="" required id="id_message"></textarea>
									    </div>
									    <input type="submit" class="btn btn-danger" value="Send">
									</td>
						  		</form>
							</tr>				
					</tbody>
				</table>
		    </div>
		</div>
	</div>
	
{% endblock %}
