<nav class="navbar navbar-expand navbar-light">
    <a class="navbar-brand" href=""><i class="fas fa-desktop"></i></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
        </ul>
        <div class="navbar-nav ml-auto">
        	<li class="nav-item">
                <a class="nav-link" href="{% url 'user_guide' %}"><div class="sk-pulse"></div></a>
            </li>
        	{% if user.is_authenticated %}
        		<li class="nav-item">
        			{% if user.is_teacher %}
	                	<a class="nav-link" href="{% url 'classroom:teacher_detail' pk=user.pk %}">{{ user.username }}</a>
	                {% else %}
	                	<a class="nav-link" href="{% url 'classroom:student_detail' pk=user.pk %}">{{ user.username }}</a>
	                {% endif %}
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="{% url 'classroom:logout' %}">Logout</a>
	            </li>
	            <li class="nav-item active">
	                <i class="nav-link fa fa-bars menu" style="cursor: pointer;"></i>
	            </li>
	        {% else %}
	        	<li class="nav-item">
	                <a class="nav-link" href="{% url 'classroom:login' %}">Login</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="{% url 'classroom:signup' %}">Sign Up</a>
	            </li>
        	{% endif %}
        </div>
    </div>
</nav>