{% extends "classroom/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

	<div class="use-content">
		<div class="contain">
		    <div class="change_pwd assignment_list">
		    	<h3>All Students</h3>
		    	<br>
		        <form method='GET' action="{% url 'classroom:students_list' %}" class="searchme">
    				Search Student : <input type='search' name='q' placeholder="Search by Name" style="width: auto;" class="answer">&nbsp;<a href="{% url 'classroom:students_list' %}" class="btn btn-secondary" style="float: right;">Clear Search</a>
  				</form>
  				<br>
  				<table class="table table-light table-striped table-hover">
					<thead class="thead-dark">
				  		<tr>
						    <th scope="col">#</th>
						    <th scope="col">Profile Picture</th>
						    <th scope="col">Roll No.</th>
						    <th scope="col">Name</th>
						    <th scope="col">Username</th>
						    <th scope="col"></th>
				  		</tr>
					</thead>
					<tbody>
							{% if students_list|length == 0 %}
								<tr>
									<td colspan="6" style="text-align: center;font-style: italic;">There are no students to add</td>
					    		</tr>
							{% else %}
								{% for student in students_list %}
						    		<tr>
										<th scope="row" class="align-middle">{{ forloop.counter }}</th>
										<td class="align-middle">
											{% if student.student_profile_pic %}
										        <img src="{{ student.student_profile_pic.url }}">
										    {% else %}
										        <img src="{% static 'images/login-avatar.PNG' %}">
										    {% endif %}
										</td>
										<td class="align-middle">{{ student.roll_no }}</td>
										<td class="align-middle"><a href="{% url 'classroom:student_detail' pk=student.user.pk %}" target="_blank" style="text-decoration: none;">{{ student.name }}</a></td>
										<td class="align-middle">{{ student.user.username }}</td>
										<td class="align-middle"><a href="{% url 'classroom:add_student' pk=student.pk %}" class="btn btn-primary">ADD</a></td>
						    		</tr>
						  		{% endfor %}
							{% endif %}				
					</tbody>
				</table>
		    </div>
		</div>
	</div>

{% endblock %}
