{% extends "classroom/base.html" %}
{% load bootstrap4 %}
{% block content %}
	
	<div class="use-content">
		<div class="contain">
		    <div class="change_pwd">
		    	<br>
		        {% if message_sent %}
			  		<h1>Message is sent successfully.</h1>
			  	{% else %}
			  		<h1 style="text-align:center;" class="scramble_text">Write a Message to {{ teacher.name }}</h1>
			  		<hr>
			  		<form method="post">
			    		{% csrf_token %}
					    <div class="form-group">
					    	<textarea name="message" cols="40" rows="10" class="form-control" placeholder="Write your message here... " title="" required id="id_message"></textarea>
					    </div>
					    <input type="submit" class="btn btn-danger" value="Send Message">
			  		</form>
			  	{% endif %}
		    </div>
		</div>
	</div>

{% endblock %}
